{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block body %}
<h3>Hello World</h3>
<p>This is the index page</p>
<a href="{{ url_for('about') }}">About</a>
<a href="{{ url_for('registration') }}">Registration</a>
<div class="content">
    <h1>Update Master</h1>
    <div class="form">
        <form action="/update/{{task.id}}" method="POST">
            <input type="text" name="content" id="content" value={{task.content}}>
            <input type="submit" value="Update">
        </form>
    </div>
</div>
{% endblock %}